body{
    font-family: 'Poppins', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}
h1{
    font-size: 50px;
}
.color-oranged{
    color: orangered;
}
section{
    display: flex;
}
.width-right{
    width: 25%;
}
.width-left{
    width: 65%;
}
p{
    text-align: justify;
   
}
footer{
    text-align: center;
}