body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.color-oranged{
    color: orangered;
}
section{
    display: flex;
}
p{
    text-align: justify;
}

#section1-left{
    width: 55%;
}
#section1-right{
    width: 35%;
    align-self: center;
    margin-right: 0%;
    background-image: url(images/my-bg.png);
    background-size: 100%;
}
#section1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 10px 10px 10px 20px;
}
footer{
    text-align: center;
}
.margin-left{
    margin-left: 20px;
}
.display-flex{
    display: flex;
}
#section-hobbies-left{
    width: 35%;
}
#section-hobbies-right{
    width: 55%;
}